.image-reveal-container {
    width: 100%;
    height: 100%;
}

.image-reveal-canvas, .back-image {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    object-fit: cover;
    object-position: center;
}

.image-reveal-canvas {
    z-index: -1;
}

.back-image {
    z-index: -2;
}

.front-image {
    display: none;
}
