#footer {
    height: 150px;
    margin-top: auto;

    background-color: var(--colorBlack);
    color: var(--colorWhite);
}

.footer-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-top: 20px;
}

.footer-content img{
    width: 120px;
    height: auto;
}

.footer-content h5, h6 {
    margin: 3px;
    letter-spacing: 2px;
}

.footer-content h5 {
    font-size: 1rem;
}

.footer-content h6 {
    font-size: 0.6rem;
    font-weight: 700;
}

.address {
    color: var(--colorWhite);
    text-decoration: none;
}

.email {
    color: var(--colorFour);
    text-decoration: none;
}

.footer-full-tracks {
    margin-top: 3px;
    width: 100%;
    height: 20px;
}

@media screen and (max-width: 600px) {

    #footer {
        height: 400px;
    }

    .footer-content-container {
        height: 80%;
        flex-direction: column;
        justify-content: space-between;
    }
}