.up {
    position: relative;
    top: 50px;
    
    opacity: 0;

    margin: 0;
    padding: 0;
}

.down {
    position: relative;
    top: -50px;

    opacity: 0;

    margin: 0;
    padding: 0;
}

.after-fade {
    top: 0;

    opacity: 1;

    transition-property: top, opacity;
    transition-duration: 1200ms;
    transition-timing-function: ease-out;
}